.ima{
    float: left;
    margin-left: 750px;
    margin-top: 1px;
    position: absolute;
    z-index: -1;
}

.navbar{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.ale{
    color: white;
    margin-left: 830px;
    margin-top: 150px;
    position: absolute;
}

h1{
    font-size: 4.5em;
    font-weight: bold;
}
p{
    font-weight: bold;
}

#sign{
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g-signin2{
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
}